<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Writefully", '#', class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <%= render_user_auth_nav %>
    </ul>
  </div>
</div>